<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <h4>{{errorMessage}}</h4>
        </div>
        {{>footer}}
        
    </body>
</html>